## log files
*.log
*.jou
*.rpt
*.vdi
*.xpr/
*.xpr
*.xdc
*.bd
*.xml
*.bxml
*.xci
*.ui
*.asm


## bitstream
*.bit
*.bin
*.mcs
*.svf
*.imagegit

## netlist
*.edf
*.edif
*.vn
*.vm

## SDF
*.sdf

## sim dump
*.vcd
*.saif
*.tcf
*.wdb

## others
unisims

## C-files
*.elf
*.a
*.sa
*.so
*.lib

*.code-workspace
*.rar
*.zip

## pictures
*.jpg

## dirs
vivado.cache/
vivado.hw/
vivado.ip_user_files/
vivado.runs/
vivado.sim/

###### for Xilinx Vivado|ISE
.Xil/
.cache/
fsm_encoding.os
tab_*/
webtalk.*
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.sim
*.runs
*.hw
*.hw/
*.backup.*
*.debug

*.ip_user_files/
*.runs/
*.sim/

## checkpoint files
*.dcp

*.pb

*.js
*.map
*.json
*.ts
*.html

# OSX
#
.DS_Store

# Visual Studio Code
.vscode

# node.js
#
node_modules/

## FILES

!src/
!PR_Interfase/
!FIFO/

#FIFO_dp_ram/
#FIFO_sp_ram/


#AXI_stream/
#AXI_stream_plus/
/FIFO_dds
/FIFO_dp_ram
/FIFO_sp_ram
/AXI4
/I2C_temp_sens
/Sine_Taylor
/SPI
/UART